<template>
  <ons-navigator initial-component="tabbar">
  </ons-navigator>
</template>

<script>
	import {OnsNavigator} from 'vue-onsenui';

	export default {
	  components: {OnsNavigator}
	};
</script>

<style>
</style>
